<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiao.oasystem.mapper.DepartmentMapper">
    <insert id="insertDepartment">
        insert into department values (#{id},#{name},#{announcement})
    </insert>

    <delete id="deleteDepartment">
        delete from department where id = ${id}
    </delete>

    <update id="setAnnouncement">
        update department set announcement = '#{announcement}' where id = #{id}
    </update>

    <select id="getDepartmentById" resultType="com.xiao.oasystem.pojo.entity.Department">
        select id,name,announcement from department where id = ${id}
    </select>

    <select id="list" resultType="com.xiao.oasystem.pojo.entity.Department">
        select id,name,announcement,numberOfPeople from department
    </select>
</mapper>