<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.startingNovel.mapper.historyMapper">

    <update id="setHistory">
        insert into history_ values (${userAccount},${bookId},now())
    </update>

    <update id="changeHistory">
        update history_ set date = now() where userAccount = ${userAccount} and bookId = ${bookId}
    </update>

    <select id="getHistoryByUserAccount" resultType="com.example.startingNovel.pojo.history">
        select * from history_ where userAccount = ${userAccount}
    </select>

    <select id="getAllHistory" resultType="com.example.startingNovel.pojo.history">
        select * from history_
    </select>

</mapper>