<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.startingNovel.mapper.rankingListMapper">

    <select id="getNewList" resultType="com.example.startingNovel.pojo.rankingList">
        select b.bookName,n.rank from newlist_ n join book_ b using (bookId) order by n.rank
    </select>

    <select id="getHotList" resultType="com.example.startingNovel.pojo.rankingList">
        select b.bookName,h.rank from hotlist_ h join book_ b using (bookId) order by h.rank
    </select>
</mapper>